.profile__edit-button {
    background-image: url('../../../images/edit-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    align-self: center;
    padding: 0;
    background-color: transparent;
}