.card__caption-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 9.22% 7.177% 9.22% 7.447%;
    box-sizing: border-box;
}