.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding: 195px 33.203125% 0;
}

@media screen and (max-width: 320px) {
    .overlay {
        padding: 123px 5.9375% 0;
    }
}