.popup__close-button {
    background-image: url('../../../images/close-button-40.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__close-button {
        background-image: url('../../../images/close-button-26.svg');
        width: 26px;
        height: 26px;
        top: -45px;
        right: 0;
    }
}