.profile__info {
    width: 38.182%;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: 71.123% 28.658%;
    column-gap: 4.357%;
    row-gap: 4px;
    margin-left: 3.41%;
    margin-right: 27.727%;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        grid-template-rows: 66.123% 28.658%;
    }
}

@media screen and (max-width: 768px) {
    .profile__info {
        grid-template-rows: 59.123% 32.658%;
    }
}

@media screen and (max-width: 490px) {
    .profile__info {
        width: 100%;
        margin-top: 9.22%;
        margin-bottom: 11.2%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 46px;
        padding-right: 19px;
        box-sizing: border-box;
        grid-template-rows: 59.123% 35.658%;
        justify-content: center;
    }
}