.profile__info {
    width: 38.182%;
    display: grid;
    grid-template-columns: 88.5% 7.143%;
    grid-template-columns: repeat;
    grid-template-rows: 71.123% 28.658%;
    column-gap: 4.357%;
    row-gap: 4px;
    margin-left: 3.41%;
    margin-right: 27.727%;